.logo{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
}
.blue{
    color: darkblue;
    font-weight: bolder;
}
.container{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}